.chatroom {
  height:100vh;
}

#send-message{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #263159;
  font-family: 'Hind', sans-serif;
  border: 1px solid #263159;
}

.message-chat-send{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.title-chat{
  h1{
  font-family: 'Hind', sans-serif;
  color: #263159;
  
  font-size: 35px;
font-weight: 700;
letter-spacing: 2px;
padding-top: 20px;
  }
}

.company-chat .company {
  text-align: right;
}

.coder-chat .coder {
  text-align: right;
}

.chat-photo{
  width: 38px;
border-radius: 50%;
height: 38px;
border: 1px solid black;
}
.company-chat > .messages > .coder > p{

  margin-left: 44px;
}

.coder-chat > .messages > .company > p{

  margin-left: 44px;
}
