.top_title {
  margin-top: 140px;
}

.login_title {
  margin-bottom: 50px;
  color: #5f5e5b;
}

.container_login {
  height: 100vh;
  display: grid;
  background-color: red;
  grid-template-columns: 1fr 3fr;
}

.brown_background {
  background-color: #E9E0D9;
  min-height: 100vh;
  padding-left: 200px;
  padding-right: 200px;
}

.aside {
  background: white;
  height: 100vh;
}

#image_coder {
  width: 360px;
  margin-top: 400px;
}

#submit-button-login {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #5f5e5b;
  padding-left: 90px;
  padding-right: 90px;
  border: 1 solid #5f5e5b;
  border-radius: 20px;
  color: white
}
