body {
  background-color: #F5F5F5;
}

.container-index-company {
  margin-right: 120px;
  margin-left: 120px;
}

.coders-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.small-content-index-company {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(208, 208, 208);
  border-radius: 20px;
  position: relative;
  transition: all 1s ease;
  margin-bottom: 30px;


  strong{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
  }

  .card-user-name {
    position: absolute;
    top: 280px;
    left: 20px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Hind', sans-serif;
  }
}

.small-content-index-company:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.image-company-index {
  border-radius: 20px;
  border: #F5F5F5;
  height: 330px;
  width: 100%;
  object-fit: cover;
}

.custom-links {
  text-decoration: none;
}

.text-card {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;

  strong{
    padding-top: 10px;
  }
  p {
    margin-bottom: 5px;
  }
}

#rating-text {
  margin-bottom: 10px;
  margin-top: 5px;
}

#languages-known {
  color:#201F50;
  padding-bottom: 10px;
}


.see-more{
  text-decoration: none;
  color: black;
  border: 1px solid #B2885F;
  border-radius: 1px;
  padding: 7px;
  background-color: #B2885F;
  border-radius: 5px;
  // box-shadow: 1px 1px 3px  black;
}

.see-more:hover{
  color: black;
  background-color: #CCC6BB;
  transition: 0,3s;
  border: 1px solid black
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #F5F5F5;
  }
  .coders-grid {
    grid-template-columns: 1fr;
  }
}

#search-bar{
  position: sticky;
  top: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-right: none;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #263159;
  color:#495579 ;
}

#search-button{
  position: sticky;
  top: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-left: none;
  background-color: #263159;
  color: white;
  height: 38px;
  border: 1px solid #263159;
  margin-top: 15px;
}
#search-button:hover{
  background-color:#495579 ;
  color: white;
  transition: 0,2s;
}

.top-container {
  position: sticky;
  top: 0;
  z-index: 999;
}
