.container-newpro {
  // margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 350px;
  margin-left: 350px;
  border-radius: 10px;
  background: #F5F5F5;
  border: 2px solid #495579;
  font-family: 'Hind', sans-serif;
}

.title-newpro {
  padding-top: 20px;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
}

.form-project {
  padding: 20px;
}

#submit-project-new {
  border-radius: 20px;
  color: white;
  margin: 20px;
  padding: 8px;
  background-color: #263159;
  border: 1px solid #263159;
  font-family: 'Hind', sans-serif;
  width: 180px;
  height: 46px;

}

#submit-project-new:hover{
  background-color: #495579;
  transition: 0,2s;
}

.center-item {
  text-align: center;
}
#project_name{
  border-radius: 12px;
}
#project_coder_id{
  border-radius: 12px;
}
#project_description{
  border-radius: 12px;
}
#project_deadline{
  border-radius: 12px;
}
.supp_padding{
  padding-top: 40px;
}

.img_coompanie_project{
  display: flex;
  position: absolute;
  top: 240px;
  right: -387px;
  margin-top: 0px;
  margin-left: 0px;

  & img {
    width: 400px;
  }
  }


.img_coder_project{
  display: flex;
  position: absolute;
  bottom: 0px;
  left: -356px;
& img {
  width: 400px;
}
}

.container-newpro {
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .container-newpro {
  margin-right: 80px;
margin-left: 80px;
  }
}
