.company-project-title {
  font-family: "Nunito", "Helvetica", "sans-serif";
  margin-top: 30px;
  margin-bottom: 30px;
}

.company-project-box {
  background-color: #E6DCD1;
  border-radius: 10px;
  font-family: 'Hind', sans-serif;
}

.company-project-first {
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Hind', sans-serif;
}

.company-project-text {
  padding-left: 20px;
}
