.top_title1 {
  margin-top: 140px;
}
.login_title1 {
  margin-bottom: 50px;
  color: #5f5e5b;
}

.container_login1 {
  height: 100%;
  display: grid;
  background-color: red;
  grid-template-columns: 3fr 1fr;
}

.brown_background1 {
  background-color: #CCC6BB;
  min-height: 100vh;
  padding-left: 200px;
  padding-right: 200px;
}

.aside1 {
  background: white;
  min-height: 100vh;
}

#image_coder1 {
  position: relative;
  bottom: 0;
}

#submit-button-login1 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E9E0D9;
  padding-left: 90px;
  padding-right: 90px;
  border: 1 solid #E9E0D9;
  border-radius: 20px;
  color: #5f5e5b
}
