.container-newpro {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 350px;
  margin-left: 350px;
  background-color: white;
}

.title-newpro {
  padding-top: 20px;
  text-align: center;
}

.form-project {
  padding: 20px;
}

#submit-project-new {
  background-color: #5f5e5b;
  border-radius: 20px;
  color: white;
  margin: 20px;
  padding: 8px;
}

.center-item {
  text-align: center;
}
