#container-company {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.login_comp {
  background-color: #E9E0D9;
  padding-left: 200px;
  padding-right: 200px;
}

.img_comp {
  background-color: white;
}

.company_title {
  margin-top: 140px;
  text-align: right;
}

.login_company {
  margin-bottom: 50px;
  color: #5f5e5b;
  text-align: right;
}

#image_company {
  width: 320px;
  margin-top: 510px;
  margin-left: 40px;
}

.company-sup{
  a{text-decoration: none;
    color: black;
    margin-bottom: 10px;
  }
}
