#container-company {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.login_comp {
  background-color: #201F50;
  padding-left: 200px;
  padding-right: 200px;
}

.img_comp {
  background-color: white;
}

.company_title {
  margin-top: 140px;
  text-align: right;
  color: white;
}

.login_company {
  margin-bottom: 50px;
  color: #495579;
  text-align: right;
}

#image_company {
  width: 320px;
  margin-top: 510px;
  margin-left: 40px;
}

.company-sup{
  a{text-decoration: none;
    color: white;
    margin-bottom: 10px;
  }
}
#new_user{
  color: white;
}

#submit-button-login{
  background-color: white;
  color: #495579;
}

#submit-button-login:hover {
  background-color: #495579;
  color: white;
  transition: 0,1s;
}
