.container-sign {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 350px;
  margin-left: 350px;
  background-color: white;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.form-sign {
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #201F50;
  padding-bottom: 10px;
  a{
    text-decoration: none;
    color: #201F50;
    font-size: 20px;
  }
}

.title-sign {
  padding-top: 20px;
  text-align: center;
}

.img-sign {
  width: 260px;
  margin-top: 20px;
  margin-left: 200px;
}

.form-actions {
  align-items: center;
}

#submit-button-sign {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 210px ;
  margin-left: 210px ;
  background-color: #201F50;
  padding-left: 90px;
  padding-right: 90px;
  border: 1 solid #201F50;
  border-radius: 20px;
  color: white;
}
#submit-button-sign:hover {
  background-color: #495579;
  color: white;
  transition: 0,2s;
  border: 1px solid #495579;
}
