.container-sign {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 350px;
  margin-left: 350px;
  background-color: white;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.form-sign {
  padding-left: 40px;
  padding-right: 40px;
}

.title-sign {
  padding-top: 20px;
  text-align: center;
}

.img-sign {
  width: 260px;
  margin-top: 20px;
  margin-left: 200px;
}

.form-actions {
  align-items: center;
}

#submit-button-sign {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 210px ;
  margin-left: 210px ;
  background-color: #5f5e5b;
  padding-left: 90px;
  padding-right: 90px;
  border: 1 solid #5f5e5b;
  border-radius: 20px;
  color: white;
}

