<div class="container">
  <h2>Projects</h2>
  <% @projects.each do |project| %>
    <div>
      <p><strong>Description: </strong><%= project.description %></p>
      <p><strong>Deadline: </strong><%= project.deadline %></p>
      <%= link_to "See more about this project", coders_project_path(project) %>
      <p></p>
    </div>
  <% end %>
</div>
